<ion-view view-title="引导页">
  <!--<ion-header-bar align-title="left">-->
    <!--<h2 class="title">hello world</h2>-->
  <!--</ion-header-bar>-->
  <ion-tabs>
    <ion-tab title="娱乐" ><h1>娱乐</h1></ion-tab>
    <ion-tab title="豆瓣"><h1>豆瓣</h1></ion-tab>
    <ion-tab title="地铁"><h1>地铁</h1></ion-tab>
    <ion-tab title="香港"><h1>香港</h1></ion-tab>
  </ion-tabs>
  <!--<ion-content>-->
    <!--&lt;!&ndash;这是内容页面&ndash;&gt;-->
    <!--<ion-list can-swipe="true">-->
      <!--<ion-item >娱乐-->
        <!--<ion-option-button class="royal-bg">删除</ion-option-button>-->
      <!--</ion-item>-->
      <!--<ion-item>豆瓣</ion-item>-->
      <!--<ion-item>地铁</ion-item>-->
      <!--<ion-item>香港</ion-item>-->
    <!--</ion-list>-->
    <!--选择状态:{{isSelect}}-->
    <!--<ion-checkbox ng-model="isSelect">-->
      <!--豆瓣-->
    <!--</ion-checkbox>-->
    <!--<ion-radio ng-repeat="(key,value) in list track by key" ng-model="select.select" ng-value="value.value">-->
      <!--{{value.name}}-->
    <!--</ion-radio>-->
    <!--你的选择是：{{select.select}}-->
    <!--<ion-toggle ng-model="kg">-->
      <!--开关-->
    <!--</ion-toggle>-->
    <!--您的选择是：{{kg}}-->
  <!--</ion-content>-->

  <!--<ion-footer-bar class="calm-bg">-->
    <!--<h2>结尾</h2>-->
  <!--</ion-footer-bar>-->
<!--<div class="bar bar-header positive-bg">hello world</div>-->
<!--<div class="bar bar-subheader calm-bg">-->
  <!--<div class="title">子头部</div></div>-->
<!--<div class="scroll-content has-header has-subheader has-subfooter has-footer">-->
  <!--<div class="button-bar">-->
    <!--<button class="button positive-bg icon ion-wifi">内容部分</button>-->
    <!--<button class="button calm-bg">内容部分</button>-->
    <!--<button class="button positive-bg">内容部分</button>-->
  <!--</div>-->
  <!--<div class="item-input-wrapper">-->
    <!--<input type="text" class="balanced-border" placeholder="请输入"/>-->
  <!--</div>-->
  <!--&lt;!&ndash;<ul class="list">&ndash;&gt;-->
    <!--&lt;!&ndash;<li class="item">地铁&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="badge badge-assertive">1</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li class="item">2</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li class="item">3</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li class="item">4</li>&ndash;&gt;-->
  <!--&lt;!&ndash;</ul>&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="item-input-inset">&ndash;&gt;-->
    <!--&lt;!&ndash;<label class="item-input-wrapper">&ndash;&gt;-->
      <!--&lt;!&ndash;<input type="text">&ndash;&gt;-->
    <!--&lt;!&ndash;</label>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;<br/>&ndash;&gt;-->
  <!--&lt;!&ndash;<button class="button"><i class="icon ion-wifi"></i>按钮</button>&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="item item-toggle">&ndash;&gt;-->
    <!--&lt;!&ndash;iMessage&ndash;&gt;-->
    <!--&lt;!&ndash;<label class="toggle toggle-balanced">&ndash;&gt;-->
      <!--&lt;!&ndash;<input type="checkbox">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="track">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="handle"></div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</label>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;<ul class="item item-checkbox">&ndash;&gt;-->
    <!--&lt;!&ndash;<li class="checkbox">&ndash;&gt;-->
      <!--&lt;!&ndash;<input type="checkbox">oppo浏览器&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li class="checkbox">&ndash;&gt;-->
      <!--&lt;!&ndash;<input type="checkbox">vivo浏览器&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li class="checkbox">&ndash;&gt;-->
      <!--&lt;!&ndash;<input type="checkbox">webkit浏览器&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
  <!--&lt;!&ndash;</ul>&ndash;&gt;-->
  <!--<ion-list>-->
    <!--<ion-radio ng-model="choice" ng-value="'A'">Choose A</ion-radio>-->
    <!--<ion-radio ng-model="choice" ng-value="'B'">Choose B</ion-radio>-->
  <!--</ion-list>-->

<!--</div>-->
<!--<div class="bar bar-footer calm-bg">底部</div>-->
<!--<div class="bar bar-subfooter positive-bg">子底部</div>-->
</ion-view>
